In [102]:
import pandas as pd
from sqlalchemy import create_engine
import datetime as dt
import psycopg2

In [2]:
csv_file = "city_day.csv"
India_df = pd.read_csv(csv_file)
India_df.head()

,City,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,Ahmedabad,2015-01-01,NaN,NaN,0.92,18.22,17.15,NaN,0.92,27.64,133.36,0.00,0.02,0.00,NaN,NaN
1,Ahmedabad,2015-01-02,NaN,NaN,0.97,15.69,16.46,NaN,0.97,24.55,34.06,3.68,5.50,3.77,NaN,NaN
2,Ahmedabad,2015-01-03,NaN,NaN,17.40,19.30,29.70,NaN,17.40,29.07,30.70,6.80,16.40,2.25,NaN,NaN
3,Ahmedabad,2015-01-04,NaN,NaN,1.70,18.48,17.97,NaN,1.70,18.59,36.08,4.43,10.14,1.00,NaN,NaN
4,Ahmedabad,2015-01-05,NaN,NaN,22.10,21.42,37.76,NaN,22.10,39.33,39.31,7.01,18.89,2.78,NaN,NaN

In [18]:
reduced_df = India_df[["City", "Date", "SO2" ,"NO2" ,"O3","CO","PM2.5", "PM10" ]]
reduced_df.head()

        City        Date    SO2    NO2      O3     CO  PM2.5  PM10
0  Ahmedabad  2015-01-01  27.64  18.22  133.36   0.92    NaN   NaN
1  Ahmedabad  2015-01-02  24.55  15.69   34.06   0.97    NaN   NaN
2  Ahmedabad  2015-01-03  29.07  19.30   30.70  17.40    NaN   NaN
3  Ahmedabad  2015-01-04  18.59  18.48   36.08   1.70    NaN   NaN
4  Ahmedabad  2015-01-05  39.33  21.42   39.31  22.10    NaN   NaN

In [89]:
Delhi_df = reduced_df.loc[reduced_df["City"] == "Delhi"]
Delhi_df.head()

       City        Date   SO2    NO2     O3     CO   PM2.5    PM10
9294  Delhi  2015-01-01  9.25  36.39  41.68  15.20  313.22  607.98
9295  Delhi  2015-01-02  6.65  32.87  29.97   9.54  186.18  269.55
9296  Delhi  2015-01-03  2.65  30.31  19.71  10.61   87.18  131.90
9297  Delhi  2015-01-04  4.63  36.91  25.36  11.54  151.84  241.84
9298  Delhi  2015-01-05  3.33  34.92  23.20   9.20  146.60  219.13

In [90]:


Delhi_df['Date'] = pd.to_datetime(Delhi_df['Date'], format='%Y-%m-%d')
year_2017 = Delhi_df[Delhi_df['Date'].dt.year == 2017]
year_2018 = Delhi_df[Delhi_df['Date'].dt.year == 2018]
year_2019 = Delhi_df[Delhi_df['Date'].dt.year == 2019]
year_2017

        City       Date    SO2    NO2     O3    CO   PM2.5    PM10
10025  Delhi 2017-01-01  25.13  66.19  50.03  1.31  191.50  402.31
10026  Delhi 2017-01-02  22.29  95.55  47.86  1.47  247.79  440.18
10027  Delhi 2017-01-03  25.33  90.79  42.90  1.28  255.33  390.67
10028  Delhi 2017-01-04  23.11  91.07  41.13  1.55  248.01  341.15
10029  Delhi 2017-01-05  25.15  87.15  41.95  1.24  215.42  352.83
...      ...        ...    ...    ...    ...   ...     ...     ...
10385  Delhi 2017-12-27  23.17  65.61  58.98  1.69  224.27  317.87
10386  Delhi 2017-12-28  25.51  70.25  66.00  1.86  249.17  362.39
10387  Delhi 2017-12-29  25.54  59.70  61.36  1.70  227.28  347.63
10388  Delhi 2017-12-30  21.01  60.40  61.73  1.96  273.56  401.15
10389  Delhi 2017-12-31  17.97  66.97  76.45  1.95  306.17  445.58

[365 rows x 8 columns]

In [91]:
year_2017_avg = { 'City': ["Delhi"],
                  'Date': ["2017"], 
                  'SO2' : [round(year_2017["SO2"].mean(),2)],
                  'NO2': [round(year_2017["NO2"].mean(),2)],
                  '03': [round(year_2017["O3"].mean(),2)],
                  'CO': [round(year_2017["CO"].mean(),2)],
                  'PM10': [round(year_2017["PM10"].mean(),2)],
                  'PM2.5': [round(year_2017["PM2.5"].mean(),2)]
                
                   }
year_2017_avg_df = pd.DataFrame(year_2017_avg)
year_2017_avg_df

    City  Date   SO2    NO2     03   CO    PM10   PM2.5
0  Delhi  2017  23.8  57.66  42.24  0.7  264.41  125.09

In [49]:
year_2018_avg = { 'City': ["Delhi"],
                  'Date': ["2018"], 
                  'SO2' : [round(year_2018["SO2"].mean(),2)],
                  'NO2': [round(year_2018["NO2"].mean(),2)],
                  '03': [round(year_2018["O3"].mean(),2)],
                  'CO': [round(year_2018["CO"].mean(),2)],
                  'PM10': [round(year_2018["PM10"].mean(),2)],
                  'PM2.5': [round(year_2018["PM2.5"].mean(),2)]
                   }
year_2018_avg_df = pd.DataFrame(year_2018_avg)
year_2018_avg_df

    City  Date   PM2.5    PM10    NO2     03    CO
0  Delhi  2018  115.02  240.11  45.92  44.37  1.41

In [92]:
year_2019_avg = { 'City': ["Delhi"],
                  'Date': ["2019"], 
                  'SO2' : [round(year_2019["SO2"].mean(),2)],
                  'NO2': [round(year_2019["NO2"].mean(),2)],
                  '03': [round(year_2019["O3"].mean(),2)],
                  'CO': [round(year_2019["CO"].mean(),2)],
                  'PM10': [round(year_2019["PM10"].mean(),2)],
                  'PM2.5': [round(year_2019["PM2.5"].mean(),2)]
                   }
year_2019_avg_df = pd.DataFrame(year_2019_avg)
year_2019_avg_df

    City  Date    SO2    NO2     03    CO    PM10  PM2.5
0  Delhi  2019  14.03  45.24  38.94  1.37  215.05  108.5

In [93]:
rds_connection_string = "postgres:postgres@localhost:5432/Delhi_db"
engine = create_engine(f'postgresql://{rds_connection_string}')

In [98]:
engine.table_names()

['Delhi_pollution_2017', 'Delhi_pollution_2018', 'Delhi_pollution_2019']

In [95]:
year_2017_avg_df.to_sql(name='Delhi_pollution_2017', con=engine, if_exists='append', index=False)

In [96]:
year_2018_avg_df.to_sql(name='Delhi_pollution_2018', con=engine, if_exists='append', index=False)

In [97]:
year_2019_avg_df.to_sql(name='Delhi_pollution_2019', con=engine, if_exists='append', index=False)

In [104]:
pd.read_sql_query('SELECT * from Delhi_pollution_2017', con=engine).head()

ProgrammingError: (psycopg2.errors.UndefinedTable) relation "delhi_pollution_2017" does not exist
LINE 1: SELECT * from Delhi_pollution_2017
                      ^

[SQL: SELECT * from Delhi_pollution_2017]
(Background on this error at: http://sqlalche.me/e/f405)