In [74]:
import pandas as pd
import datetime
import numpy as np

In [75]:
file_info = "AirPollutionSeoul/Measurement_summary.csv"
Seoul_df = pd.read_csv(file_info)
Seoul_df.head()

,Measurement date,Station code,Address,Latitude,Longitude,SO2,NO2,O3,CO,PM10,PM2.5
0,2017-01-01 00:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.059,0.002,1.2,73.0,57.0
1,2017-01-01 01:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.058,0.002,1.2,71.0,59.0
2,2017-01-01 02:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,59.0
3,2017-01-01 03:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.004,0.056,0.002,1.2,70.0,58.0
4,2017-01-01 04:00,101,"19, Jong-ro 35ga-gil, Jongno-gu, Seoul, Republ...",37.572016,127.005007,0.003,0.051,0.002,1.2,69.0,61.0

In [86]:
Seoul_df = Seoul_df.drop(['Address', 'Latitude', 'Longitude'], axis=1)
Seoul_df

        Measurement date  Station code    SO2    NO2     O3   CO  PM10  PM2.5
0       2017-01-01 00:00           101  0.004  0.059  0.002  1.2  73.0   57.0
1       2017-01-01 01:00           101  0.004  0.058  0.002  1.2  71.0   59.0
2       2017-01-01 02:00           101  0.004  0.056  0.002  1.2  70.0   59.0
3       2017-01-01 03:00           101  0.004  0.056  0.002  1.2  70.0   58.0
4       2017-01-01 04:00           101  0.003  0.051  0.002  1.2  69.0   61.0
...                  ...           ...    ...    ...    ...  ...   ...    ...
647506  2019-12-31 19:00           125  0.003  0.028  0.013  0.5  23.0   17.0
647507  2019-12-31 20:00           125  0.003  0.025  0.015  0.4  25.0   19.0
647508  2019-12-31 21:00           125  0.003  0.023  0.015  0.4  24.0   17.0
647509  2019-12-31 22:00           125  0.003  0.040  0.004  0.5  25.0   18.0
647510  2019-12-31 23:00           125  0.003  0.037  0.005  0.5  27.0   18.0

[647511 rows x 8 columns]

In [87]:
stations = Seoul_df['Station code'].nunique()
print(stations)

25

In [88]:
print(len(Seoul_df[(Seoul_df['Measurement date'] == '2017-01-01 00:00')]))

25

In [89]:
Seoul_df2 = Seoul_df.drop(['Station code'], axis=1)

In [96]:
Seoul_avg_df = Seoul_df2.groupby(['Measurement date'], as_index=False).agg({'SO2': 'mean', 'NO2': 'mean', 'O3': 'mean', 'CO': 'mean', 'PM10': 'mean', 'PM2.5': 'mean'})

Seoul_avg_df

       Measurement date      SO2      NO2       O3     CO   PM10  PM2.5
0      2017-01-01 00:00  0.00532  0.05076  0.00248  1.148  73.08  51.92
1      2017-01-01 01:00  0.00512  0.04928  0.00256  1.148  69.92  53.12
2      2017-01-01 02:00  0.00488  0.04752  0.00244  1.132  69.96  51.16
3      2017-01-01 03:00  0.00468  0.04444  0.00244  1.084  69.68  49.96
4      2017-01-01 04:00  0.00452  0.04176  0.00240  1.080  65.24  47.72
...                 ...      ...      ...      ...    ...    ...    ...
25901  2019-12-31 19:00  0.00308  0.02628  0.01464  0.456  24.24  14.56
25902  2019-12-31 20:00  0.00312  0.02468  0.01516  0.444  24.64  15.28
25903  2019-12-31 21:00  0.00296  0.02492  0.01392  0.464  22.80  14.24
25904  2019-12-31 22:00  0.00300  0.03188  0.00844  0.500  23.04  15.60
25905  2019-12-31 23:00  0.00300  0.03660  0.00504  0.524  22.08  14.56

[25906 rows x 7 columns]

In [97]:
Seoul_avg_df.dtypes

Measurement date     object
SO2                 float64
NO2                 float64
O3                  float64
CO                  float64
PM10                float64
PM2.5               float64
dtype: object

In [98]:
from datetime import datetime, timedelta
from pandas import DataFrame

In [107]:
Seoul_avg_df['Year'] = pd.DatetimeIndex(Seoul_avg_df['Measurement date']).year
Seoul_avg_df.head()

     Measurement date      SO2      NO2       O3     CO   PM10  PM2.5  Year
0 2017-01-01 00:00:00  0.00532  0.05076  0.00248  1.148  73.08  51.92  2017
1 2017-01-01 01:00:00  0.00512  0.04928  0.00256  1.148  69.92  53.12  2017
2 2017-01-01 02:00:00  0.00488  0.04752  0.00244  1.132  69.96  51.16  2017
3 2017-01-01 03:00:00  0.00468  0.04444  0.00244  1.084  69.68  49.96  2017
4 2017-01-01 04:00:00  0.00452  0.04176  0.00240  1.080  65.24  47.72  2017

In [108]:
Seoul_avg_df = Seoul_avg_df.drop(columns=['Measurement date'])
Seoul_avg_df

           SO2      NO2       O3     CO   PM10  PM2.5  Year
0      0.00532  0.05076  0.00248  1.148  73.08  51.92  2017
1      0.00512  0.04928  0.00256  1.148  69.92  53.12  2017
2      0.00488  0.04752  0.00244  1.132  69.96  51.16  2017
3      0.00468  0.04444  0.00244  1.084  69.68  49.96  2017
4      0.00452  0.04176  0.00240  1.080  65.24  47.72  2017
...        ...      ...      ...    ...    ...    ...   ...
25901  0.00308  0.02628  0.01464  0.456  24.24  14.56  2019
25902  0.00312  0.02468  0.01516  0.444  24.64  15.28  2019
25903  0.00296  0.02492  0.01392  0.464  22.80  14.24  2019
25904  0.00300  0.03188  0.00844  0.500  23.04  15.60  2019
25905  0.00300  0.03660  0.00504  0.524  22.08  14.56  2019

[25906 rows x 7 columns]

In [109]:
Seoul_years_df = Seoul_avg_df.groupby(['Year']).agg({'SO2': 'mean', 'NO2': 'mean', 'O3': 'mean', 'CO': 'mean', 'PM10': 'mean', 'PM2.5': 'mean'})

Seoul_years_df

           SO2       NO2        O3        CO       PM10      PM2.5
Year
2017  0.003205  0.027870  0.023104  0.517864  44.379726  24.565429
2018 -0.001097  0.023507  0.018097  0.494565  41.765160  24.132342
2019 -0.007743  0.015901  0.012500  0.515463  45.040105  27.639217

In [110]:
Seoul_years_df.dtypes

SO2      float64
NO2      float64
O3       float64
CO       float64
PM10     float64
PM2.5    float64
dtype: object