In [1]:
import pandas as pd

In [2]:
file_info = "Seoul.csv"
Seoul_df = pd.read_csv(file_info)
Seoul_df

   Year       SO2       NO2        O3        CO       PM10      PM2.5
0  2017  0.003205  0.027870  0.023104  0.517864  44.379726  24.565429
1  2018 -0.001097  0.023507  0.018097  0.494565  41.765160  24.132342
2  2019 -0.007743  0.015901  0.012500  0.515463  45.040105  27.639217

In [8]:
Seoul17_df = Seoul_df.loc[Seoul_df['Year'] == 2017]

Seoul17_df

   Year       SO2      NO2        O3        CO       PM10      PM2.5
0  2017  0.003205  0.02787  0.023104  0.517864  44.379726  24.565429

In [12]:
Seoul18_df = Seoul_df.loc[Seoul_df['Year'] == 2018]
Seoul18_df

   Year       SO2       NO2        O3        CO      PM10      PM2.5
1  2018 -0.001097  0.023507  0.018097  0.494565  41.76516  24.132342

In [13]:
Seoul19_df = Seoul_df.loc[Seoul_df['Year'] == 2019]
Seoul19_df

   Year       SO2       NO2      O3        CO       PM10      PM2.5
2  2019 -0.007743  0.015901  0.0125  0.515463  45.040105  27.639217

In [14]:
#Seoul17_df.to_csv("Seoul_2017.csv")
#Seoul18_df.to_csv("Seoul_2018.csv")
#Seoul19_df.to_csv("Seoul_2019.csv")